# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
[Bb]uilds/
[Ll]ibrary/
sysinfo.txt
*.stackdump
/Assets/AssetStoreTools*
*.apk
*.unitypackage
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
.vs/
*.userprefs
*.csproj
*.pidb
*.pidb.meta
*.suo
*.sln*
*.user
*.unityproj
*.booproj
.consulo/
*.tmp
*.svd
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini
Corridor/Library/ShaderCache/
Corridor/Library/metadata/

# ================== #
# Visual Studio Code #
# ================== #

.vscode/
.vscode/*
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json
Unity_Project/\.idea/

Unity_Project/Assets/Allegorithmic/

Unity_Project/Assembly-CSharp\.csproj\.DotSettings

Unity_Project/Assets/Plugins/Editor/JetBrains/
Unity_Project/Assets/Scripts/MedusaAI/\.idea/
